body {
    padding: 0px;
    margin: 0px;
    background-color: #f9f9f9;
}

canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.1);

    position: fixed;
    z-index: -99 !important;
}
